<div class="contenedor">
  <div class="contenedorFormulario">
    <h2>Conversor de monedas</h2>
    <input type="number" name="input" id="input" /><br />
    <div class="row">
      <div class="col">
        <h2>Tengo</h2>
            <!-- select1 -->

        <select class="col" name="moneda1" id="moneda1"></select>
      </div>
      <div class="col">
              <!-- select2 -->

        <h2>Quiero</h2>
        <select class="col" name="moneda2" id="moneda2"></select>
      </div>
    </div>
  </div>
</div>
